SeeWaves/*.iml
SeeWaves/.gradle
SeeWaves/local.properties
SeeWaves/.idea/caches/build_file_checksums.ser
SeeWaves/.idea/libraries
SeeWaves/.idea/modules.xml
SeeWaves/.idea/workspace.xml
SeeWaves/.DS_Store
SeeWaves/build
SeeWaves/captures
SeeWaves/.externalNativeBuild
SeeWaves/.idea/workspace.xml